{
  "extends": [
    "./node_modules/@ts-mono/base/.eslintrc.json"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "optionalDependencies": true }],
    "react/prop-types": 0
  }
}
